@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {
    background-color: #212B36;
    width: 100%;
}

.nav-container {
    max-width: 1270px;
    margin: 0 auto;
}

.flex-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}



.logi-img {
    margin-right: 30px;
}

.link-btn-nav ul {
    display: flex;
}

.link-btn-nav ul li {
    margin: 0px 20px;
    font-size: 16px;
    font-weight: 300;
}

.link-btn-nav ul li i {
    margin-right: 10px;
}

.link-btn-nav ul li a {
    color: #fff;
    transition: all 0.2s ease;
}

.link-btn-nav li a:hover {
    color: #FFC40B;
}

.login-btn {
    margin-left: 40px;
}

.login-btn ul li {
    font-size: 18px;
    background-color: #FFC40B;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: 400;
    transition: all 0.2s ease;

}

.login-btn ul li:hover {
    background-color: #c89f21;
}

.login-btn ul li a {
    color: #000000;
    padding: 10px 16px;
}

.humburger i{
    display: none;
    font-size: 20px;
}

.main-bg {
    width: 100%;
    height: 100%;
    background-color: #161C24;
    padding-bottom: 0.7em;
}

.main-width {
    max-width: 750px;
    margin: 0 auto;
}
.topic-text{
    padding-top: 40px;
}

.topic-text .topic {
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}

.topic-text .paragraph {
    color: white;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.grid-recommend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
    border-radius: 20px;
}

.grid-recommend .grid-item img {
    width: 100%;
    height: 100%;
}

.grid-card {
    border-radius: 20px;
    margin: 2em 0 1em 0;
}

.grid-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #2C3540;
    position: relative;
}


.grid-item .grid-item a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}


.content-container {
    width: 100%;
    height: 100%;
    padding: 24px;
}

.grid-content {
    text-align: center;
}

.name-card {
    text-align: center;
    font-size: 0.75em;
    font-family: 'Prompt';
    font-weight: 300;
    text-transform: uppercase;
    line-height: 60px;
    color: #909EAB;
}

.grid-content .content-select {
    display: block;
    height: 55px;
    overflow: hidden;
}

.price-topic h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.4;
    color: white;
}
.flex-price{
    display: flex;
    justify-content: center;
    align-items: end;
}
.flex-price p{
    color: #637381;
    margin-bottom: 10px;
    margin-left: 10px;
}
.per-month{
    font-size: 0.75em;
    color: rgb(99, 115, 129);
    line-height: 1px;
    min-height: 1px;
}
.text-underTopic {
    font-size: 0.75em;
    font-weight: 300;
    line-height: 50px;
    color: rgb(255, 192, 0);
}

.img-yellowBox {
    display: block;
    overflow: hidden;
    width: 63px;
    margin: 12px auto 24px;
}

.img-yellowBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-list {
    text-align: left;
}

.flex-con {
    display: flex;
    font-size: 16px;
}
.flex-con i{
    padding-top: 4px;
    margin-right: 10px;
}

.flex-con p,i {
    margin-top: 10px;
}

.content-fixColor {
    color: #637381;
}

.flexBottom-footer {
    margin-top: 25px;
}
.footer-btn{
    width: 100%;
}
 .footer-btn p {
    text-align: center;
    border-radius: 5px;
    border: 0.6px solid #637381;
    padding: 8px;
    width: 100%;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 1.5;
    color: #637381;
    transition: all 0.2s ease;
}
.footer-btn .btn-right{
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 1.5;
    color: black;
    background-color: #FFC40B;
    transition: all 0.2s ease;

}

.footer-btn a p:hover {
    background-color: #b69123;
}

.content-select select {
    font-size: 14px;
    color: #fff;
    background-color: #2C3540;
    padding: 8.5px 20px 8.5px 42px;
    border: 1px solid #909EAB;
    border-radius: 4px; 
    appearance: none;
  }
  
  select:hover {
    border-color: #FFC40B; 
  }
  .main-bottom{
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .vat{
    text-align: center;
    line-height: 1.5;
    font-size: 0.75em;
    font-weight: 300;
    color: rgb(145, 158, 171);
  }
  .data-bottom{
    margin-top: 30px;
  }
  .data-bottom p{
    line-height: 1.5;
    font-size: 0.75em;
    font-weight: 300;
    color: rgb(145, 158, 171);
  }


  /* footer */
  .flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.grid-footer-left {
    width: 50%;
}

.star-icon {
    font-size: 13px;
}

.star-icon i {
    margin-right: 2px;
}

.flex-star-left {
    display: flex;
}
.grid-footer-right .footer-btn ul li {
    font-size: 18px;
    background-color: #FFC40B;
    border-radius: 20px;
    padding: 6px 10px;
    transition: all 0.2s ease;
}

.footer-btn ul li p {
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
    color: black;
}
.footer-btn ul li:hover {
    background-color: #b69123;
}
.img-teacher-under{
    display: flex;
    margin-top: 10px;
    width: 32px;
    height: 32px;
}
.img-teacher-under img{
    border-radius: 50%;
    margin-right: 6px;
}
.flex-footer-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}
.grid-img .bandle{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.grid-img .bandle{
    padding: 5px 10px;
    font-size: 16px;
    background: linear-gradient(162deg, rgb(251, 193, 87) 0%, rgb(227, 67, 11) 100%);
    border-radius: 5px;
    color: white;
}
.grid-footer-soon-right .footer-btn ul li {
    font-size: 18px;
    border-radius: 20px;
    border: 0.7px solid rgba(25, 144, 255, 0.6);
    padding: 6px 20px;
    transition: all 0.2s ease;
}

.grid-footer-soon-right .footer-btn ul li p {
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
    color: #1990FF;
}
.grid-footer-soon-right .footer-btn ul li:hover {
    background-color: rgba(25, 144, 255, 0.1);
}
.flex-name-teacher{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.early-box{
    color: white;
    font-size: 12px;
    background: linear-gradient(90deg, rgb(9, 70, 121) 0%, rgb(11, 60, 227) 50%, rgb(76, 145, 223) 100%);
    padding: 3px;
    border-radius: 5px;
}
.footer-con{
    background-color: #212B36;
    padding-top: 2em;
}
.footer-con a{ 
    color: #909EAB;
    font-weight: 300;
    transition: all 0.3s ease;
}
.footer-con a:hover{ 
    color: #FFC40B;
}
.footer-con-bg{
    max-width: 1250px;
    margin: 0 auto;
}
.end-row{
    max-width: 1250px;
    margin: 0 auto;
}
.flexBottom-footer{
    display: flex;
    justify-content: space-around;
}
.grid-a-link{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

.container-end{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.social li{
    margin-left: 15px;
    font-size: 20px;
}
.social a{
    transition: all 0.3s ease;
}
.social a:hover{
    color: white;
}
.title-text h4{
    padding: 20px 0;
    font-weight: 400;
    color: white;
}
.end-row{
    padding: 30px;
}
.text-end{
    font-size: 12px;
    color: #909EAB;
}

.textwidget a{
    line-height: 2em;
}
.link-con{
    line-height: 2em;
}

.text-end a:hover{
    color: white;
}

/* responsive */

@media screen and (max-width:500px) {
    /* navresponsive */
    .respon-nav,.login-btn{
        display: none;
    }
    .logi-img{
        justify-content: left;
        margin-left: 20px;
    }
    .humburger i{
        display: block;
        font-size: 20px;
    }
    .humburger ul{
        text-align: right;
    }


    .link-btn-nav ul{
        justify-content: space-around;
    }
    .flex-nav-container{
        padding: 20px 0;
        justify-content: space-between;
    }
    .link-btn-nav ul{
        display: block;
    }
    /* main */
    .grid-recommend{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-width{
        padding: 0 20px;
    }
    .main-bottom{
        padding: 0 20px;
    }

    /* footer */
    .imglink-footer img{
        width: 270px !important;
        height: 250px !important;
    }
    .footer-con{
        padding: 0 20px;
        padding-top: 20px;
    }
    .flexBottom-footer{
        display: block;
    }
    .grid-a-link{
        grid-template-columns: repeat(1, 1fr); 
    }
}