@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5e4e4;
}
.topic-bg{
    padding: 20px;
    text-align: center;
}
.topic-text h1{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    line-height: 1.3;   
}
.topic-text p{
    font-family: 'Prompt', sans-serif;
}
.flex-grid{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.main-grid-con-left{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 2em;
}
.main-grid-con-right{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 2em;
}
.grid-item{
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.main-con{
    max-width: 1120px;
    margin: 0 auto;
}
.code-example{
    overflow: hidden;
    width: 100%;
}
.explan-text{
    max-width: 500px;
}
.btn{
    margin-top: 20px;
    text-align: center;
}
.btn i{
    margin: 10px;
    font-size: 25px;
    color: rgba(113, 112, 112, 0.7);
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0%;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
.h3-topic span::before{
    content: "";
    color: black;
    animation: words 18s infinite;
}
.h3-topic span::after{
    content:"";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #fe0000;
    right: -5px;
    animation: typing 18s infinite;
}

.h3-topic span {
    position: relative;
}


@media screen and (max-width:500px) {
    .flex-grid{
        display: block;
        padding: 20px;
    }
    .main-grid-con-left{
        margin-bottom: 2em;
    }
}